*{
    box-sizing: border-box;
    padding:3px ;
    margin: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    color: rgb(46, 103, 209);
}
.block input{
    width: 100px;
    outline: none;
    padding: 10px;
    border: double 1px rgb(46, 103, 209);
    border-radius: 9px;
}
input:focus{
    border:3px dotted rgb(67, 68, 71);
}
.block{
    text-align: center;
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}
body{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.5px;
    color: rgb(8, 22, 99);
}
button{
    padding: 10px;
    border: none;
    background-color: rgb(46, 103, 209);
    color: aliceblue;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
    margin-top: 25px;
font-size: 25px;
}
button:hover{
    transition: 0.6px;
    background-color: rgb(6, 38, 99);
    border: none;
}
.age{
    color: rgb(16, 30, 109);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

    
